MYSQL_DATABASE=book_catalog
MYSQL_USER=book_catalog
MYSQL_PASSWORD=book_catalog
MYSQL_ROOT_PASSWORD=root
YII_ENV=dev
YII_DEBUG=1
YII_COOKIE_VALIDATION_KEY=change-me-in-local-env
S3_ENDPOINT=http://minio:9000
S3_PUBLIC_ENDPOINT=http://localhost:9000
S3_BUCKET=book-covers
S3_REGION=us-east-1
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
SMSPILOT_API_KEY=XXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZXXXXXXXXXXXXYYYYYYYYYYYYZZZZZZZZ
SMSPILOT_TEST=1
